* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


header {
    margin: 47px 0 0 42px;
}

.link {
    margin-right: 36px;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;    
    color: #17233D;
}

.button-signup {
    width: 124px;
    height: 51px;
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;
}

img {
    width: 50%;   
    margin: 163px 0 0 121px;
}

.right {
    display: inline-block;
    height: 100%;
    margin-left: 85px;
    width: 493px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.5px;
    color: #161A49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin: 47px 0 45px 0;
}

.button-learnmore {
    width: 112px;
    height: 27px;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    border: none;
    background: transparent;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .div-main {
        width: 100%;
        height: 50%;
    }

    header {
        margin: 17px 15px 0 270px;
    }

    .link {
        display: none;
    }

    .button-signup {
        width: 91px;
        height: 31px;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 1px;
    }   

    .main {
        display: block;
    }

    img {
        position: absolute;
        bottom: 0;
        margin: 59px 39px 22px 39px;
        width: 80%;   
    }

    .right {
        margin: 0;
    }

    h1 {
        width: 278px;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.5px;
        margin: 124px 55px 29px 55px;
    }

    p {
        width: 304px;
        font-size: 18px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.5px;
        margin: 0 43px;
    }

    .button-learnmore {
        width: 112px;
        height: 27px;
        font-size: 14px;
        line-height: 27px;
        letter-spacing: 1px;
        margin: 26px 139px 0 139px;
    }
}